<div class="inputAuditoria">
<p>Cuenta Publica</p> <span id="numero-auditoria"></span>
<input type="number" id="numero-auditoria" class="form-control">	
</div>

<div class="table-datos-auditoria">
	<table id="datos-auditoria" class="table">
		<thead>
			<th>Sujeto</th>
			<th>Rubro</th>
			<th>Tipo</th>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="turnado-datos-auditoria">
	<table id="turnados-auditoria" class="table">
		<thead>
			<th>Documento</th>
			<th>Turnado</th>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div id="errors-auditoria"></div>
